<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<% for(var i = 0; i < json.arr.length;i++){ %>
	<div>用户名:<%= json.arr[i].user %> 密码:<%= json.arr[i].pass %> </div>
	<% } %>
</body>
</html>